#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

fieldset{
  border-radius: 10px;
  border: 3px solid #000000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: white;
}

table {
  width: 100%;
  text-align: center;
  
}

td {
  max-width: 250px;
  vertical-align: top;
  word-wrap: break-word;
}

form {
  display: flex;
  justify-content: center;
}

input {
  margin: 7px;
  height: 30px;
  text-align: center;
}

.completed {
  color: #6f6f6f;
  background-color: #3e3e3e;
  margin: 7px;
  padding: 0 15px;
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.completed label, #completed {
  cursor: pointer;
}

textarea{
  margin: 7px;
  height:30px;
  text-align: center;
  line-height: 30px;
}



/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
